.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize !important;
    font-size: 24px !important;
    font-weight: bold !important;
    color: var(--ion-color-primary) !important;
    text-align: center !important;
}

.card {
    padding-top: 50px !important;
    max-width: 500px !important;
}

.button {
    max-width: 200px !important;
    margin-top: 20px !important;
}

.buttons {
    display: inline-block !important;
}


.remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px !important;
}

ion-card-header {
    margin-bottom: 20px !important;
}

form ion-item {
    margin-bottom: 20px !important;
}

ion-button.button#forget {
    text-transform: none !important;
    font-size: 12px !important;
    color: black !important;
}

/** ====== Media Queries ====== **/

@media(min-width: 380px) {
    ion-slides {
        height: 100% !important;
    }
}

@media(max-width: 320px) {
    .login-header {
        max-height: 50px !important;
    }

    .login-header p {
        font-size: 20px !important;
    }

    .card {
        padding-top: 20px !important;
    }
}

@media(min-width: 768px) {
    .card {
        min-width: 600px !important;
    }

    .remember-me {
        justify-content: space-evenly;
    }
}