div.separator{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.download {
    text-decoration: none;
    color: blue($color: #000000);
    font-weight: bold;
}

ion-card-title {
    font-size: 14px !important;
}

ion-label span.aut {
    color: danger!important;
}

ion-card {
    margin: 5px 0 5px 0 !important;
}

.opciones {
    text-transform: capitalize!important;
}
