<app-header titulo="Recuperar contraseña"></app-header>

<ion-content color="primary">
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <ion-card class="card ion-padding">
                <ion-card-header>
                    <ion-card-subtitle color="danger">Introduce tu correo electrónico</ion-card-subtitle>
                </ion-card-header>
                <div class="container">
                    <form #formulario="ngForm" (ngSubmit)="OnSubmit()">
                        <ion-item>
                            <ion-label position="floating">E-mail</ion-label>
                            <ion-input required name="email" type="email" [(ngModel)]="usuario.Email"></ion-input>
                        </ion-item>

                        <div class="buttons">
                            <ion-button class="enviar" type="submit" expand="block" fill="solid" shape="default"
                                color="primary" [disabled]="formulario.invalid">
                                Enviar
                            </ion-button>
                        </div>
                    </form>
                </div>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>