ion-slides {
    height: 100% !important;
}

.buttons {
    display: flex !important;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.enviar {
    margin-top: 20px;
    width: 200px !important;
}

.card {
    min-height: 270px;
}

ion-card-subtitle {
    margin-bottom: 30px !important;
}

@media(min-width: 370px) {
    .card {
        min-height: 300px;
        min-width: 310px;
    }
}

@media(min-width: 767px) and (min-height: 1024px) {

    .container {
        margin-top: 70px;
        padding: 10px;
    }

    .card {
        min-height: 500px;
        min-width: 510px;
    }
}